<div class = "container">
    <div class = "card">
        <h3 class = "text-center">Nasa Picture of The Day</h3>
        <div class = "card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                  </tr>
                  <tr>
                    <th scope="col">Url</th>
                  </tr>
                  <tr>
                    <th scope="col">HD Url</th>
                  </tr>
                  <tr>
                    <th scope="col">Explanation</th>
                  </tr>
                  <tr>
                    <th scope="col">Media Type</th>
                  </tr>
                  <tr>
                    <th scope="col">Service Version</th>
                  </tr>
                  <tr>
                    <th scope="col">Copyright</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{nasa.title}}</td>
                  </tr>
                  <tr>
                    <td>{{nasa.url}}</td>
                  </tr>
                  <tr>
                    <td>{{nasa.hdurl}}</td>
                  </tr>
                  <tr>
                    <td>{{nasa.explanation}}</td>
                  </tr>
                  <tr>
                    <td>{{nasa.media_type}}</td>
                  </tr>
                  <tr>
                    <td>{{nasa.service_version}}</td>
                  </tr>
                  <tr>
                    <td>{{nasa.copyright}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</div>