<div class = "container">
    <div class = "card">
        <h2 class = "text-center">Nasa Picture of The Day</h2>
        <h2 class = "text-center">{{nasa.title}}</h2>
        <div class = "card-body" style="margin-left: 2%;">
          <img src={{nasa.url}} alt="Nasa picture of the day." class = "img-fluid">
          <br>
          <br>
          <p class = "text-justify" style="width: 95%;">
            {{nasa.explanation}}
            <br>
            <br>
            Copyright - {{nasa.copyright}}
            <br>
            HD URL - {{nasa.hdurl}}
            <br>
            Media Type - {{nasa.media_type}}
            <br>
            Service version - {{nasa.service_version}}
          </p>
        </div>
    </div>

</div>